{% extends "layout.html" %}
{% block jslibs %}
<script type="text/javascript">
    $("addVictim").click(function () {
        alert("The paragraph was clicked.");
        window.location.href = "/add";
    });
</script>
{% endblock %}
{% block styles %}
<style>
    div {
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block content %}
<div class="list-group">
    {% for item in data %}
    <a href="survey?id={{item['_id']}}" class="list-group-item">{{item['Nachname']}}, {{item['Vorname']}}</a>
    {% endfor %}
</div>
<div>
    <button class="btn btn-primary" onclick="location.href='add';" id="addVictim">Opfer einfügen</button>
</div>
{% endblock %}