{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-center">

     <img class="block" src="static/img/stolperstein.png" alt="CorrelAidX Konstanz Logo" style="width: 180px;" />

     
 </div>
<p class="mt-3">Mit dieser Web-Anwendung sollen Informationen zu den Schicksalen der Opfer der NS-Zeit in Konstanz, die auf der Website der Konstanzer Stolpersteine Initiative gesammelt wurden,
     strukturiert erfasst und für die Zukunft bewahrt werden.</p>
<p>Sie benötigen einen Account, um auf die Anwendung zugreifen zu können.</p>
<p>Eine Anleitung zu dieser Anwendung finden sie <a href="/instructions">hier.</a></p>
{% endblock %}