{% extends "layout.html" %}
{% block jslibs %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#index_table').DataTable();
    });
</script>
{% endblock %}
{% block styles %}
<style>
    div {
        margin-top: 10px;
    }
    {% if admin_mode %}
    body {background-color: coral;}
    {% endif %}
</style>

{% endblock %}
{% block content %}
<div class="list-group">
    <table id="index_table" class="display">
        <thead>
            <tr>
                <th>Opfer</th>
                <th>Version</th>
                <th>Fertig</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td><a href="survey?id={{item['_id']}}" class="list-group-item">{{item['Nachname']}}, {{item['Vorname']}}</a></td>
                <td><a class="list-group-item">{{item['data']|length}}</a></td>
                {% if item["fertig"] == true %}
                <td><a class="list-group-item">Yes</a></td>
                {% else %}
                <td><a class="list-group-item">No</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<div>
    <button class="btn btn-primary" onclick="location.href='add';" id="addVictim">Opfer einfügen</button>
</div>
{% if admin_mode %}
<div>
    <button class="btn btn-primary" onclick="location.href='users';" id="manageUsers">Benutzerverwaltung</button>
</div>
{%  else %}
<div>
    <button class="btn btn-primary" onclick="location.href='user_administration';" id="addUser">Accounteinstellungen</button>
</div>
{% endif %}
{% endblock %}