{% extends "layout.html" %}
{% block content %}

<h2 class="pb-2">Anleitung</h2>

<p>Das Ziel dieser Anwenung ist es, Daten von der aktuellen <a href="https://stolpersteine-konstanz.de/">Website</a> der
    Stolpersteine Konstanz in eine Datenbank zu übertragen. Es war nur begrenzt möglich, dies automatisch zu tun. Daher
    benötigen
    wir Menschen, die sich die Seiten zu den einzelnen Stolpersteinen durchlesen und bestimmte Daten in ein Formular
    eintragen. Auf dieser Seite wollen wir kurz erklären, wie Sie die Anwenung benutzen können.</p>

<h4 class="pb-2">Zugriff auf die Anwendung</h4>

<p>Wenn Sie von uns einen Account erhalten haben, können Sie unter <strong>Übersicht</strong> oder
    <strong>Accounteinstellungen</strong> auf den
    zugangsbeschränkten Bereich zugreifen. Sofern Sie noch nicht eingeloggt sind, erscheint nach dem Klick auf das
    Navigationselement ein Fenster, in das Sie bitte ihre Zugangsdaten eingeben.

<p>Obwohl Sie von uns bereits einen Account angelegt bekommen haben, können Sie bei Bedarf Ihr Passwort ändern. Dazu
    gehen Sie in der Navigationsleiste auf <strong>Accounteinstellungen</strong> und melden sich, sofern noch nicht
    geschehen, mit Ihren aktuellen
    Zugangsdaten an. Auf der folgenden Seite wählen Sie ein neues Passwort ein und klicken auf "Absenden"</p>

<h3 class="pb-2">Datenerfassung</h3>

<h4 class="pb-2">Übersicht</h4>

<p>Der Haupt-Teil dieser Anwendung befindet sich unter "Übersicht". Sie finden dort eine Liste mit allen noch zu
    bearbeitenden Stolpersteinen.
</p>
<ul>
    <li>Wenn Sie den Kasten neben <strong>Erledigte Einträge ausblenden</strong> anklicken, werden fertig bearbeite
        Stolpersteine ausgeblendet</li>
    <li>Unter <strong>Suchen</strong> können Sie nach Einträgen, also zum Beispiel nach Namen von Opfern suchen.</li>
    <li>In der Spalte <strong>Version</strong>
        sehen Sie, wie oft ein Eintrag bereits bearbeitet wurde.</li>
    <li>In der Spalte <strong>Fertig</strong> sehen Sie, ob ein Eintrag als fertig markiert wurde oder nicht.</li>
    <li></li>
</ul>

<h4 class="pb-2">Eintrag bearbeiten</h4>
<p>Sie können einen Eintrag bearbeiten, indem Sie auf den Namen eines Opfers klicken. Öffnen sie nun den Link zum
    Eintrag auf der Stolpersteine Website in einem separaten Tab. Füllen Sie leere Felder aus und überprüfen Sie bereits
    ausgefüllte Felder. Dabei ist es ratsam, die Felder einzeln abzuarbeiten und jeweils die Informationen auf der
    Website zu suchen.</p>
<p>Manche Felder sind mit Anweisungen versehen. Klicken sie auf das Fragezeichen neben den Feldern, um die
    Anweisungen anzuzeigen. Wenn Sie erneut auf das Fragezeichen klicken, wird die Anweisung ausgeblendet. Wenn es eine
    Anweisung gibt, lesen Sie sich diese bitte durch.
</p>
<p>Klicken Sie auf "Absenden", um Ihren Eintrag zu finalisieren.</p>

<h5>Bei dem Bearbeiten der Einträge beachten Sie bitte,</h5>

<ul>
    <li>bei Daten,
        <ul>
            <li>falls nur das Jahr oder der Monat bekannt ist, bei Tag bzw. Monat die drei Striche, also undefiniert
                auszuwählen.</li>
            <li>falls bei Zeitspannen eine Dauer statt einem Enddatum genannt ist, das Enddatum zwar auszurechnen, dann
                jedoch "nur vermutet" anzuklicken.</li>
        </ul>
    </li>
    <li>bei den Verfolgunsstationen
        <ul>
            <li> nicht den Ort der Station, sondern den Namen der Station einzugeben. Also zB. "KZ Auschwitz" anstatt
                "Auschwitz" oder "Camp de Gurs" anstatt "Gurs".</li>
        </ul>
    </li>
    <li>bei dem Hinzufügen von Familienmitgliedern
        <ul>
            <li>können Sie nach einem Nachname suchen, indem sie den Anfangsbuchstaben eintippen.</li>
        </ul>
    </li>
    <li>bei dem Todesdatum, dass dieses mit dem Enddatum der letzten Station übereinstimmen kann.</li>
</ul>

{% endblock %}