{% extends "layout.html" %}
{% block content %}

<h4 class="pb-2">Allgemeines</h4>

<p>Diese Anwendung besteht aus einem öffentlich zugänglichen, einem nur für Administrator:innen aufrufbaren und einem
    für Nutzer:innen ohne administrative Rechte zugänglichen Bereich. Sie befinden sich gerade in dem öffentlich
    zugänglichen Bereich. </p>
<p>Wenn Sie von uns einen Account erhalten haben, können sie unter "Übersicht"oder "Accounteinstellungen" auf den
    zugangsbeschränkten Bereich zugreifen. Diese Anleitung wird sich auf diesen Teil der Anwendung konzentrieren.
    Sollten Sie Adminstrator:in sein,
    konsultieren Sie bitte das <a href="https://github.com/CorrelAid/kn_stolpersteine_survey">README</a>.
</p>

<h4 class="pb-2">Accounteinstellungen</h4>

<p>Obwohl Sie von uns bereits einen Account angelegt bekommen haben, können sie bei Bedarf Ihr Passwort ändern. Dazu
    gehen sie oben auf "Accounteinstellungen" und melden sich, sofern noch nicht geschehen, mit Ihrem aktuellen
    Zugangsdaten an. Auf der folgenden Seite geben Sie einfach ein neues Passwort ein und klicken auf "Absenden"</p>

<h4 class="pb-2">Datenerfassung</h4>

<h4 class="pb-2">Übersicht</h4>

<p>Der Haupt-Teil dieser Anwendung befindet sich unter "Übersicht". Sie finden dort eine Liste mit allen noch zu
    bearbeitenden Stolpersteinen.
</p>
<p>
    Unter "Suchen" können Sie nach Einträgen z.B. nach Namen von Opfern suchen. Wenn sie den Kasten neben "Erledigte
    Einträge ausblenden" anklicken, werden Einträge, die ein:e Admimistrator:in als erledigt markiert hat, ausgeblendet.
    In der Spalte "Version" sehen sie, wie oft ein Eintrag bereits bearbeitet wurde.
    In der Spalte "Fertig" sehen sie, ob ein Eintrag als fertig markiert wurde oder nicht. Sie können nur unfertige
    Einträge bearbeiten.
</p>

<h4 class="pb-2">Eintrag bearbeiten</h4>
<p>Sie können einen Eintrag bearbeiten, indem sie auf den Namen eines Opfers klicken. Gehen sie nun auf den Link zum
Eintrag auf der alten Website. Füllen sie leere Felder aus und überprüfen sie bereits ausgefüllte Felder. Manche Felder
sind mit Anweisungen versehen. Bewegen sie ihre Maus über die Fragezeichen neben den Feldern, um die Anweisung
anzuzeigen. 
</p>
<p>Klicken sie auf "Absenden" um ihren Eintrag zu beenden</p>

{% endblock %}