{% extends "add.html" %}

{% block additionalquestions %}

<div class="form-group" style="display: none;">
    <label for="id">Database ID:</label>
    <input type="text" id="id" name="id" value={% if id %}{{id}}{% endif %}>
</div>
<div class="form-group">
    <label for="Geburtsname">Geburtsname:</label>
    <input type="text" id="Geburtsname" name="Geburtsname" value={% if Geburtsname %}{{Geburtsname}}{% endif %}>
    <span class="material-icons" data-toggle="tooltip" title="Bitte geben Sie den Geburtsnamen an, falls das Opfer einen Ehenamen während der NS-Zeit hatte.">help</span>
</div>
<div class="form-group">
    <label for="Ehename">Ehename:</label>
    <input type="text" id="Ehename" name="Ehename" value={% if Ehename %}{{Ehename}}{% endif %}>
    <span class="material-icons" data-toggle="tooltip" title="Bitte geben Sie den Ehenamen an, falls das Opfer einen Ehenamen nur nach der NS-Zeit hatte.">help</span>
</div>
<div class="form-group">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" id="Doktortitel" name="Doktortitel" {% if Doktortitel %}checked{% endif %}>
        <label for="Doktortitel">Doktortitel</label>
    </div>
</div>
<div class="form-group">
    <label for="Anderenamen">Andere Namen:</label>
    <input type="text" id="Anderenamen" name="Anderenamen" value={% if Anderenamen %}{{Anderenamen}}{% endif %}>
    <span class="material-icons" data-toggle="tooltip" title="z.B. Spitzname, weitere Ehenamen">help</span>
<div class="dropdown">
    <label>
        Gender (soziales Geschlecht):
    </label>
    <select class="Gender">
        <option value="weiblich">weiblich</option>
        <option value="mannlich">mannlich</option>
    </select>
</div>
<div class="form-group">
    Aktueller Standort der Stolpersteine:
    <br>
    <label for="Strasse">Straße:</label>
    <input type="text" id="Strasse" name="Strasse" value={% if Strasse %}{{Strasse}}{% endif %}>
    <span class="material-icons" data-toggle="tooltip" title="Bitte kürzen, z.B. Str. statt Strasse.">help</span>
    <br>
    <label for="Strassennummer">Straßennummer:</label>
    <input type="text" id="Strassennummer" name="Strassennummer" value={% if Strassennummer %}{{Strassennummer}}{% endif %}>
</div>
<div class="form-group">
    <label>Opfergruppe:</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="juedisch" id="juedisch" , name="Opfergruppen"  {% if 'juedisch' in Opfergruppen %}checked{% endif %}>
        <label class="form-check-label" for="juedisch">
            Juden und Jüdinnen
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="politisch" id="politisch" , name="Opfergruppen" {% if 'politisch' in Opfergruppen %}checked{% endif %}>
        <label class="form-check-label" for="politisch">
            Politisch Verfolgte
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="euthanasie" id="euthanasie" , name="Opfergruppen" {% if 'euthanasie' in Opfergruppen %}checked{% endif %}>
        <label class="form-check-label" for="euthanasie">
            "Euthanasie"
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="religioes" id="religioes" , name="Opfergruppen" for="religioes" {% if 'religioes' in Opfergruppen %}checked{% endif %}>
        <label class="form-check-label">
            Religiös Verfolgte
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="sinti_und_roma" id="sinti_und_roma" ,
               name="Opfergruppen" {% if 'sinti_und_roma' in Opfergruppen %}checked{% endif %}>
        <label class="form-check-label" for="sinti_und_roma">
            Sinti und Roma
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="homosexuelle" id="homosexuelle" , name="Opfergruppen" {% if 'homosexuelle' in Opfergruppen %}checked{% endif %}>
        <label class="form-check-label" for="homosexuelle">
            Homosexuelle
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="deserteure" id="deserteure" , name="Opfergruppen" {% if 'deserteure' in Opfergruppen %}checked{% endif %}>
        <label class="form-check-label" for="deserteure">
            Deserteure
        </label>
    </div>
</div>
<div class="form-group">
    <label for="weitere_Opfergruppen">zusätzliche Opfergruppen:</label>
    <input type="text" id="weitere_Opfergruppen" name="weitere_Opfergruppen" value={% if weitere_Opfergruppen %}{{weitere_Opfergruppen}}{% endif %}>
</div>
<div class="form-group">
    <label for="Beruf">Beruf:
        <input type="text" id="Beruf" name="Beruf" value={% if Beruf %}{{Beruf}}{% endif %}>
        <span class="material-icons" data-toggle="tooltip" title="vor der NS-Zeit">help</span>
    </label>
   </div>
<div class="form-group" id="Familie">
    <label>Familie</label>
    <span class="material-icons" data-toggle="tooltip" title="Bitte nur Familienangehörige mit Stolpersteinen eingeben.">help</span>
    {% if Familienmitglied %}
        {% for curr_Familienmitglied, curr_Verwandschaftsbeziehung in zip(Familienmitglied, Verwandschaftsbeziehung) %}
            <div class="form-group-member">
                     <div style="display: flex; justify-content: space-around">
                        <div>
                            <div class="dropdown">
                                <label>
                                    Familienmitglied:
                                </label>
                                <select class="Familienmitglied" name="Familienmitglied">
                                    <option value="">--</option>
                                    {% for item in data %}
                                    <option value={{item['id']}}>{{item['Nachname']}}, {{item['Vorname']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="dropdown">
                                <label>
                                    Verwandschaftsbeziehung:
                                </label>
                                <select class="Verwandschaftsbeziehung" name="Verwandschaftsbeziehung">
                                    <option value="">--</option>
                                    {%  for family_member_option in ["Elternteil", "Kind", "EhegattIn", "Geschwister", "Großelternteil", "EnkelIn", "Onkel/Tante", "Cousin/Cousine", "NeffIn", "Verlobte/r", "Schwiegerelternteil", "Schwiegerkind", "SchwägerIn"] %}
                                        <option value={{ family_member_option }}>{{ family_member_option }}</option>
                                    {%  endfor %}
                                </select>
                            </div>
                        </div>

                        <div>
                        <button type="button" id="delete_Familie" class="btn btn-primary btn-right">löschen</button>
                        </div>

                    </div>
            </div>
        {%  endfor %}
    {% else %}
        <div class="form-group-member">
                     <div style="display: flex; justify-content: space-around">
                        <div>
                            <div class="dropdown">
                                <label>
                                    Familienmitglied:
                                </label>
                                <select class="Familienmitglied" name="Familienmitglied">
                                    <option value="">--</option>
                                    {% for item in data %}
                                    <option value={{item['id']}}>{{item['Nachname']}}, {{item['Vorname']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="dropdown">
                                <label>
                                    Verwandschaftsbeziehung:
                                </label>
                                <select class="Verwandschaftsbeziehung" name="Verwandschaftsbeziehung">
                                    <option value="">--</option>
                                    {%  for family_member_option in ["Elternteil", "Kind", "EhegattIn", "Geschwister", "Großelternteil", "EnkelIn", "Onkel/Tante", "Cousin/Cousine", "NeffIn", "Verlobte/r", "Schwiegerelternteil", "Schwiegerkind", "SchwägerIn"] %}
                                        <option value={{ family_member_option }}>{{ family_member_option }}</option>
                                    {%  endfor %}
                                </select>
                            </div>
                        </div>

                        <div>
                        <button type="button" id="delete_Familie" class="btn btn-primary btn-right">löschen</button>
                        </div>

                    </div>
            </div>
    {% endif %}
<button type="button" id="add_Familie" class="btn btn-primary">weitere Familienangehörige</button>
</div>
<div class="form-group">
    <label>Geburtsdaten</label>
    <br>
    <label for="Geburtsdatum">Geburtsdatum:</label>
    <div class="form_date">
        <select class="jahr" id="Geburtsjahr" name="Geburtsjahr">
            <option value="">--</option>
            {% for year in range(1800,2001) %}
                <option {% if Geburtsjahr and (Geburtsjahr|int() == year) %}selected="selected"{% endif %} value={{ year }}>{{ year }}</option>
            {% endfor %}
        </select>
        <select class="monat" id="Geburtsmonat" name="Geburtsmonat">
            <option value="">--</option>
            {% for month in ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"] %}
                <option {% if Geburtsmonat and (Geburtsmonat == month) %}selected="selected"{% endif %} value={{ month }}>{{ month }}</option>
            {% endfor %}
        </select>
        <select class="datum" id="Geburtsdatum" name="Geburtsdatum">
            <option value="">--</option>
            {% for date in range(1,32) %}
                <option {% if Geburtsdatum and (Geburtsdatum|int() == date) %}selected="selected"{% endif %} value={{ date }}>{{ date }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" name="Geburtsdatum_vermutet" {% if Geburtsdatum_vermutet %}checked{% endif %}>
        <label for="Geburtsdatum_vermutet">nur vermutet</label>
    </div>

    <label for="Geburtsort">Geburtsort:
        <input type="text" id="Geburtsort" name="Geburtsort" value={% if Geburtsort %}{{Geburtsort}}{% endif %}>
        <span class="material-icons" data-toggle="tooltip" title="Stadt, Land oder nur Land, falls Stadt nicht angegeben ist">help</span>
    </label>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" name="Geburtsort_vermutet" {% if Geburtsort_vermutet %}checked{% endif %}>
        <label for="Geburtsort_vermutet">nur vermutet</label>
    </div>
</div>
<div class="form-group">
    <label>Todesdaten</label>
    <br>
    <label for="Todesdatum">Todesdatum:</label>
    <div class="form_date">
        <select class="jahr" name="Todesjahr">
            <option value="">--</option>
            {% for year in range(1800,2001) %}
                <option {% if Todesjahr and (Todesjahr|int() == year)%}selected="selected"{% endif %} value={{ year }}>{{ year }}</option>
            {% endfor %}
        </select>
        <select class="monat" name="Todesmonat">
            <option value="">--</option>
            {% for month in ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"] %}
                <option {% if Todesmonat and (Todesmonat == month) %}selected="selected"{% endif %} value={{ month }}>{{ month }}</option>
            {% endfor %}
        </select>
        <select class="datum" name="Todesdatum">
            <option value="">--</option>
            {% for date in range(1,32) %}
                <option {% if Todesdatum and (Todesdatum|int() == date) %}selected="selected"{% endif %} value={{ date }}>{{ date }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" name="Todesdatum_vermutet" {% if Todesdatum_vermutet %}checked{% endif %}>
        <label for="Todesdatum_vermutet">nur vermutet</label>
    </div>

    <label for="Todesort">Todesort:
        <input type="text" id="Todesort" name="Todesort" value={% if Todesort %}{{Todesort}}{% endif %}>
        <span class="material-icons" data-toggle="tooltip" title="Stadt, Land oder nur Land, falls Stadt nicht angegeben ist">help</span>
    </label>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" name="Todesort_vermutet" {% if Todesort_vermutet %}checked{% endif %}>
        <label for="Todesort_vermutet">nur vermutet</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" name="Todesort_haft" {% if Todesort_haft %}checked{% endif %}>
        <label for="Todesort_haft">in Haft</label>
    </div>
    <div class="form-group" id="Stationen">
        {% if Ort %}
            {% for curr_Ort, curr_Stationen_af_jahr, curr_Stationen_af_monat, curr_Stationen_af_datum, curr_Stationen_ed_jahr, curr_Stationen_ed_monat, curr_Stationen_ed_datum in zip(Ort, Stationen_af_jahr, Stationen_af_monat, Stationen_af_datum, Stationen_ed_jahr, Stationen_ed_monat, Stationen_ed_datum) %}
            <div class="form-group-member">
                <div style="display: flex; justify-content: space-around">
                    <div>
                        <label>Stationen:
                            <span class="material-icons" data-toggle="tooltip" title="Bitte beachten Sie, dass dies nur Stationen der Viktimisierung sind (z. B. Konzentrationslager, Gefängnis usw.)">help</span>
                        </label>

                        <div>
                            <input type="text" placeholder="Ort" name="Ort" value={% if curr_Ort %}{{curr_Ort}}{% endif %}>
                        </div>
                        <br>
                        <label>Anfangsdatum:</label>
                        <div class="form_date">
                            <select class="jahr" name="Stationen_af_jahr">
                                <option value="">--</option>
                                {% for year in range(1800,2001) %}
                                    <option {% if curr_Stationen_af_jahr|int() == year %}selected="selected"{% endif %} value={{ year }}>{{ year }}</option>
                                {% endfor %}
                            </select>
                            <select class="monat" name="Stationen_af_monat">
                                <option value="">--</option>
                                {% for month in ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"] %}
                                    <option {% if curr_Stationen_af_monat == month %}selected="selected"{% endif %} value={{ month }}>{{ month }}</option>
                                {% endfor %}
                            </select>
                            <select class="datum" pname="Stationen_af_datum">
                                <option value="">--</option>
                                {% for date in range(1,32) %}
                                    <option {% if curr_Stationen_af_datum|int() == date %}selected="selected"{% endif %} value={{ date }}>{{ date }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label>Enddatum:</label>
                        <div class="form_date">
                            <select class="jahr" name="Stationen_ed_jahr">
                                <option value="">--</option>
                                {% for year in range(1800,2001) %}
                                    <option {% if curr_Stationen_ed_jahr|int() == year %}selected="selected"{% endif %} value={{ year }}>{{ year }}</option>
                                {% endfor %}
                            </select>
                            <select class="monat" name="Stationen_ed_monat">
                                <option value="">--</option>
                                {% for month in ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"] %}
                                    <option {% if curr_Stationen_ed_monat == month %}selected="selected"{% endif %} value={{ month }}>{{ month }}</option>
                                {% endfor %}
                            </select>
                            <select class="datum" pname="Stationen_ed_datum">
                                <option value="">--</option>
                                {% for date in range(1,32) %}
                                    <option {% if curr_Stationen_ed_datum|int() == date %}selected="selected"{% endif %} value={{ date }}>{{ date }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="delete_Stationen" class="btn btn-primary btn-right">löschen</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        {%  else %}
            <div class="form-group-member">
                    <div style="display: flex; justify-content: space-around">
                        <div>
                            <label>Stationen:
                                <span class="material-icons" data-toggle="tooltip" title="Bitte beachten Sie, dass dies nur Stationen der Viktimisierung sind (z. B. Konzentrationslager, Gefängnis usw.)">help</span>
                            </label>

                            <div>
                                <input type="text" placeholder="Ort" name="Ort">
                            </div>
                            <br>
                            <label>Anfangsdatum:</label>
                            <div class="form_date">
                                <select class="jahr" name="Stationen_af_jahr">
                                    <option value="">--</option>
                                    {% for year in range(1800,2001) %}
                                        <option value={{ year }}>{{ year }}</option>
                                    {% endfor %}
                                </select>
                                <select class="monat" name="Stationen_af_monat">
                                    <option value="">--</option>
                                </select>
                                <select class="datum" pname="Stationen_af_datum">
                                    <option value="">--</option>
                                </select>
                            </div>
                            <label>Enddatum:</label>
                            <div class="form_date">
                                <select class="jahr" name="Stationen_ed_jahr">
                                    <option value="">--</option>
                                    {% for year in range(1800,2001) %}
                                        <option value={{ year }}>{{ year }}</option>
                                    {% endfor %}
                                </select>
                                <select class="monat" name="Stationen_ed_monat">
                                    <option value="">--</option>
                                </select>
                                <select class="datum" pname="Stationen_ed_datum">
                                    <option value="">--</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="button" id="delete_Stationen" class="btn btn-primary btn-right">löschen</button>
                        </div>
                    </div>
                </div>
        {%  endif %}
    <button type="button" id="add_Stationen" class="btn btn-primary">weitere Stationen</button>
    </div>
    <div class="form-group" id="Flucht">
        {% if Zielort %}
            {% for curr_Zielort, curr_Durchort, curr_Flucht_af_jahr, curr_Flucht_af_monat, curr_Flucht_af_datum, curr_Flucht_ed_jahr, curr_Flucht_ed_monat, curr_Flucht_ed_datum, curr_Erfolg in zip(Zielort, Durchort, Flucht_af_jahr, Flucht_af_monat, Flucht_af_datum, Flucht_ed_jahr, Flucht_ed_monat, Flucht_ed_datum, Erfolg) %}
                <div class="form-group-member">
                    <div style="display: flex; justify-content: space-around">
                        <div>
                            <label>Flucht:
                                <span class="material-icons" data-toggle="tooltip" title="Bitte geben Sie alle Fluchtversuche ein, ob erfolgreich oder nicht.">help</span>
                            </label>
                            <div>
                                <input type="text" placeholder="Zielort" name="Zielort" value={% if curr_Zielort %}{{curr_Zielort}}{% endif %}>
                            </div>
                            <input type="text" placeholder="Durchort" name="Durchort" value={% if curr_Durchort %}{{curr_Durchort}}{% endif %}>
                            <br>
                            <label>Anfangsdatum:</label>
                            <div class="form_date">
                                <select class="jahr" name="Flucht_af_jahr">
                                    <option value="">--</option>
                                    {% for year in range(1800,2001) %}
                                        <option {% if curr_Flucht_af_jahr|int() == year %}selected="selected"{% endif %} value={{ year }}>{{ year }}</option>
                                    {% endfor %}
                                </select>
                                <select class="monat" name="Flucht_af_monat">
                                    <option value="">--</option>
                                    {% for month in ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"] %}
                                        <option {% if curr_Flucht_af_monat == month %}selected="selected"{% endif %} value={{ month }}>{{ month }}</option>
                                    {% endfor %}
                                </select>
                                <select class="datum" name="Flucht_af_datum">
                                    <option value="">--</option>
                                    {% for date in range(1,32) %}
                                        <option {% if curr_Flucht_af_datum|int() == date %}selected="selected"{% endif %} value={{ date }}>{{ date }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label>Enddatum:</label>
                            <div class="form_date">
                                <select class="jahr" name="Flucht_ed_jahr">
                                    <option value="">--</option>
                                    {% for year in range(1800,2001) %}
                                        <option {% if curr_Flucht_ed_jahr|int() == year %}selected="selected"{% endif %} value={{ year }}>{{ year }}</option>
                                    {% endfor %}
                                </select>
                                <select class="monat" name="Flucht_ed_monat">
                                    <option value="">--</option>
                                    {% for month in ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"] %}
                                        <option {% if curr_Flucht_ed_monat == month %}selected="selected"{% endif %} value={{ month }}>{{ month }}</option>
                                    {% endfor %}
                                </select>
                                <select class="datum" pname="Flucht_ed_datum">
                                    <option value="">--</option>
                                    {% for date in range(1,32) %}
                                        <option {% if curr_Flucht_ed_datum|int() == date %}selected="selected"{% endif %} value={{ date }}>{{ date }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label>
                                Erfolg?
                            </label>
                            <select name="Erfolg">
                                {% for erfolg_status in ["Ja", "Nein", "Unklar"] %}
                                    <option value={{ erfolg_status }} {% if curr_Erfolg == erfolg_status %}selected="selected"{%  endif %}>{{ erfolg_status }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <button type="button" id="delete_Flucht" class="btn btn-primary btn-right">löschen</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {%  else  %}
            <div class="form-group-member">
            <div style="display: flex; justify-content: space-around">
                <div>
                    <label>Flucht:
                        <span class="material-icons" data-toggle="tooltip" title="Bitte geben Sie alle Fluchtversuche ein, ob erfolgreich oder nicht.">help</span>
                    </label>
                    <div>
                        <input type="text" placeholder="Zielort" name="Zielort">
                    </div>
                    <input type="text" placeholder="Durchort" name="Durchort">
                    <br>
                    <label>Anfangsdatum:</label>
                    <div class="form_date">
                        <select class="jahr" name="Flucht_af_jahr">
                            <option value="">--</option>
                            {% for year in range(1800,2001) %}
                                <option value={{ year }}>{{ year }}</option>
                            {% endfor %}
                        </select>
                        <select class="monat" name="Flucht_af_monat">
                            <option value="">--</option>
                        </select>
                        <select class="datum" name="Flucht_af_datum">
                            <option value="">--</option>
                        </select>
                    </div>
                    <label>Enddatum:</label>
                    <div class="form_date">
                        <select class="jahr" name="Flucht_ed_jahr">
                            <option value="">--</option>
                            {% for year in range(1800,2001) %}
                                <option value={{ year }}>{{ year }}</option>
                            {% endfor %}
                        </select>
                        <select class="monat" name="Flucht_ed_monat">
                            <option value="">--</option>
                        </select>
                        <select class="datum" pname="Flucht_ed_datum">
                            <option value="">--</option>
                        </select>
                    </div>
                    <label>
                        Erfolg?
                    </label>
                    <select name="Erfolg">
                        {% for erfolg_status in ["Ja", "Nein", "Unklar"] %}
                            <option value={{ erfolg_status }}>{{ erfolg_status }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button type="button" id="delete_Flucht" class="btn btn-primary btn-right">löschen</button>
                </div>
            </div>
        </div>
        {%  endif  %}
        <button type="button" id="add_Flucht" class="btn btn-primary">weitere Fluchtversuchen</button>
    </div>
    <div class="form-group">
        <label>
            Überlebt?
        </label>
        <select name="Ueberlebt">
            {% for ueberlebt_status in ["Ja", "Nein", "Unklar"] %}
                <option value={{ ueberlebt_status }} {% if Ueberlebt == ueberlebt_status %}selected="selected"{%  endif %}>{{ ueberlebt_status }}</option>
            {% endfor %}
        </select>
    </div>
    {% endblock%}








