{% extends "template_survey.html" %}
{% block form %}
    <script>
        $(document).ready(function () {
            $('#last_user :input').prop('disabled', true);
            $('#second_last_user :input').prop('disabled', true);
        });
    </script>
    {% if admin_mode %}
            <div class="row">
        <div class="col-sm">
            <form id="second_last_user">{{ html[0] }}</form>
        </div>
        <div class="col-sm">
            <form id="last_user">{{ html[1] }}</form>
        </div>
        <div class="col-sm">
            <form action="/{{ post_route }}" on_submit="return removeHidden()" data-parsley-validate
                  data-parsley-trigger="keyup">
                {{ html[2] }}
                <input type="submit" value="als finale Kopie markieren">
            </form>
        </div>
    </div>
    {% else %}
        <form action="/{{ post_route }}" on_submit="return removeHidden()" data-parsley-validate
                  data-parsley-trigger="keyup">
        {{ html }}
        <input type="submit" value="Absenden">
    {% endif %}
{% endblock %}
